# go google AI studio and generate API Key and set in .env, like this.
GOOGLE_API_KEY=your_google_api_key

# 1. go -> https://neon.tech/
# 2. and create account and after click the "Connect" than copy "Connection String".
# 3. and paste in .env and after paste replace url prefix this "postgresql://" into "postgresql+asyncpg://" this and remove all query parameater in the url.
# final check : after doing this your url looks similer like..., mention bellow
# you can set any postgresql url provede by any provider like local, supabase etc..., but set like i said above in step 3.

DATABASE_URL=postgresql+asyncpg://neondb_owner:YOUR_PASSWORD@ep-dark-night-f5l09aup-pooler.c-6.us-east-2.aws.neon.tech/neondb

# for test, set repo name like mention bellow format
GITHUB_SANDBOX_REPO=your-profile_name/repo_name

# 1. go Github and click your profile picture and go settings
# 2. than go "developer settings"
# 3. than click "personal access tokens" and click "Fine-grained tokens"
# 4. than click "Generate new token" and if ask a password for authorization put it
# 5. than fill the shown details,
#   - in "Expiration" - choose any you like.
#   - in "Repository access" - must choose "Only select repositories" and select your test repo you created above step for "GITHUB_SANDBOX_REPO"
#   - in "Permissions" and also in "Repositories" not in "Account" - click "Add permissions"
#   - and select "Contents" and "Pull requests". Note: by default add Metadata so don't touch.
#   - and after select both, set the "Acsess: Read and write" in both.
#   - than click "Generate token" and copy and set in .env in your codebase like mention in bellow.
GITHUB_PAT=github_pat_xxxx