GOOGLE_API_KEY=your_google_api_key

# 1. go -> https://neon.tech/
# 2. and create account and after click the "Connect" than copy "Connection String".
# 3. and paste in .env and after paste replace url prefix this "postgresql://" into "postgresql+asyncpg://" this and remove all query parameater in the url.
# final check : after doing this your url looks similer like..., mention bellow

DATABASE_URL=postgresql+asyncpg://neondb_owner:PASSWORD@ep-dark-night-f5l09aup-pooler.c-6.us-east-2.aws.neon.tech/neondb